name: Terraform Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      action:
        description: 'Choose Terraform action (apply or destroy)'
        required: true
        default: 'apply'

jobs:
  terraform:
    name: Terraform Deployment
    runs-on: ubuntu-latest
    env:
          TF_VAR_github_token: ${{ secrets.TOKEN_GIT }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.LEO_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.LEO_SECRET_KEY }}
          aws-region: us-east-1

      - name: Initialize Terraform
        run: terraform init
        working-directory: terraform

      - name: Validate Terraform
        run: terraform validate
        working-directory: terraform


      - name: Plan Terraform
        run: terraform plan -out=tfplan -var-file="terraform.tfvars"
        working-directory: terraform
          #for lex
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      # - name: Apply Lex Locale Only
      #   run: terraform apply -target=aws_lexv2models_bot_locale.english_locale -auto-approve
      #   working-directory: terraform

      - name: Apply Terraform 
        if: github.event.inputs.action == 'apply' || github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -var-file="terraform.tfvars"
        working-directory: terraform

      - name: Get Terraform outputs
        run: |
            RAW_URL=$(terraform output -raw api_gateway_url | tr -d '\n\"')
            echo "API_GW_BASE_URL=$RAW_URL" >> $GITHUB_ENV

      - name: Update Frontend API URLs
        run: |
            sed -i "s|REPLACE_WITH_API_GW_BASE_URL|${API_GW_BASE_URL}|g" fisc-ai/frontend/src/App.tsx
            
      - name: Terraform Destroy
        if: github.event.inputs.action == 'destroy'
        run: terraform destroy -auto-approve
        working-directory: terraform

    